@model WebASP.Models.Banner

@{
    ViewData["Title"] = "Thêm mới banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
}

<h1>Thêm mới banner</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BannerFile" class="control-label"></label>
                <input asp-for="BannerFile" class="form-control" />
                <span asp-validation-for="BannerFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

