@model WebASP.Models.Banner

@{
    ViewData["Title"] = "Xóa banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["TaiKhoan"] = ViewBag.TaiKhoan;
}

<h1>Xóa banner</h1>

<h3>Bạn có chắc muốn xóa?</h3>
<div>
    <h4>Banner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerString)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BannerId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về</a>
    </form>
</div>
